.review-heading {
    position: absolute;
    width: 130px;
    left: 0;
    top: 0;
    height: 70px;
}

.review-body {
    min-height: 70px;
}

.review-heading .name {
    margin-bottom: 5px;
    margin-top: 0px;
}

.review-heading .date {
    color: #8D99AE;
    font-size: 12px;
    margin: 0;
}

.review-heading .review-rating {
    margin-top: 5px;
}

.review-heading .review-rating>i {
    color: #E4E7ED;
}

.review-heading .review-rating>i.fa-star {
    color: #D10024;
}