
  .product-details .product-name {
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .product-details .product-rating {
    display: inline-block;
    margin-right: 15px;
  }
  
  .product-details .product-rating>i {
    color: #E4E7ED;
  }
  
  .product-details .product-rating>i.fa-star {
    color: #D10024;
  }
  
  .product-details .review-link {
    font-size: 12px;
  }
  
  .product-details .product-price {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #D10024;
  }
  
  .product-details .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
  }
  
  .product-details .product-available {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    color: #D10024;
  }
  
  .product-details .product-options {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .product-details .product-options label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  
  .product-details .product-options .input-select {
    width: 90px;
  }
  
  .product-details .add-to-cart {
    margin-bottom: 30px;
  }
  
  .product-details .add-to-cart .add-to-cart-btn {
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #ef233c;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    transition: 0.2s all;
  }
  
  .product-details .add-to-cart .add-to-cart-btn>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
  }
  
  .product-details .add-to-cart .add-to-cart-btn:hover {
    background-color: #FFF;
    color: #D10024;
    border-color: #D10024;
    padding: 0px 30px 0px 50px;
  }
  
  .product-details .add-to-cart .add-to-cart-btn:hover>i {
    opacity: 1;
    visibility: visible;
  }
  
  .product-details .qty-label {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  
  .product-details.qty-label .input-number {
    width: 90px;
    display: inline-block;
  }
  
  .product-details .product-btns li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .product-details .product-btns li+li {
    margin-left: 15px;
  }
  
  .product-details .product-links {
    margin-top: 15px;
  }
  
  .product-details .product-links li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .product-details .product-links li+li {
    margin-left: 10px;
  }