
#product-main-img .slick-prev {
    transform: translateX(-15px);
    left: 15px;
  }
  
  #product-main-img .slick-next {

    transform: translateX(15px);
    right: 15px;
  }
  
  #product-main-img .slick-prev, #product-main-img .slick-next {
    opacity: 0;
    visibility: hidden;

    transition: 0.2s all;
  }
  
  #product-main-img:hover .slick-prev, #product-main-img:hover .slick-next {

    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  
  #product-main-img .zoomImg {
    background-color: #FFF;
  }
  
  #product-imgs .product-preview {
    margin: 0px 5px;
    border: 1px solid #E4E7ED;
  }
  
  #product-imgs .product-preview.slick-current {
    border-color: #D10024;
  }
  
  #product-imgs .slick-prev {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #product-imgs .slick-next {
    top: calc(100% - 20px);
    left: 50%;

    transform: translateX(-50%);
  }
  
  #product-imgs .slick-prev:before {
    content: "\f106";
  }
  
  #product-imgs .slick-next:before {
    content: "\f107";
  }
  
  .product-preview img {
    width: 100%;
  }
  
  /*----------------------------*\
      Product details
  \*----------------------------*/
  
  
  /*----------------------------*\
       Product tab
  \*----------------------------*/
  
  #product-tab {
  }
  
  #product-tab .tab-nav {
    position: relative;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 20px;
  }
  
  #product-tab .tab-nav:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #E4E7ED;
    z-index: -1;
  }
  
  #product-tab .tab-nav li {
    display: inline-block;
    background: #FFF;
    padding: 0px 15px;
  }
  
  #product-tab .tab-nav li+li {
    margin-left: 15px;
  }
  
  #product-tab .tab-nav li a {
    display: block;
    font-weight: 700;
    color: #8D99AE;
  }
  
  #product-tab .tab-nav li.active a {
    color: #D10024;
  }
  
  #product-tab .tab-nav li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  #product-tab .tab-nav li a:hover:after, #product-tab .tab-nav li a:focus:after, #product-tab .tab-nav li.active a:after {
    width: 100%;
  }
  
  /*-- Rating --*/
  